mixin footer()
	+b.FOOTER.footer
		+e.link-block
			+e.tel(href="tel:+78005005748") 8 (800) 500-57-48
			+e.link(href="mailto:hr@datexsoft.ru") hr@datexsoft.ru
		+pic('footer-bg.png','',0)
		+e.policy-block
			+e.title © Datexsoft 2022. Все права защищены.
			+e.link(href="#") Политика конфиденциальности

mixin footer2()
	+b.FOOTER.footer
		+e.city-block(href="#")
			+e.icon-wrap
				+icon('map-pin')
			+e.text-wrap
				+e.city самара
				+e.text Посмотреть на карте
		+e.policy-block
			+e.title © Datexsoft 2022. Все права защищены.
			+e.link(href="#") Политика конфиденциальности
		+e.main-site(href="#")
			| основной сайт
			+icon('up-right-arrow')
		