.footer {
	margin-top: auto;

	//
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
		padding-top: rem(40);
		padding-bottom: 0;
		padding-left: rem(60);
		padding-right: rem(60);
		align-items: flex-end;
		flex-direction: row;
		justify-content: space-between;
	}
	padding-top: rem(30);
	padding-bottom: rem(60);
	padding-left: rem(26);
	padding-right: rem(26);
	display: flex;
	flex-direction: column;
	align-items: center;
	&__link-block,
	&__policy-block {
		display: flex;
		flex-direction: column;
		width: rem(280);
		@include media-breakpoint-down(lg){
			align-items: center;
		}
	}
	&__link-block {
		@include media-breakpoint-up(lg){
			align-items: flex-start;
			margin-bottom: 0;
		}
		margin-bottom: rem(20);
	}
	&__policy-block {
		@include media-breakpoint-up(lg){
			align-items: flex-end;
		}
	}
	&__tel {
		font-size: rem(12);
		line-height: calc(20 / 12);
		color: $body-color !important;
	}
	&__link {
		font-size: rem(12);
		line-height: calc(20 / 12);
		color: #9296a1 !important;
		&:hover {
			color: #000 !important;
		}
	}
	&__title {
		font-size: rem(12);
		line-height: calc(20 / 12);
	}
	picture{
		@include media-breakpoint-down(lg){
			display: none;
		}
		width: rem(782);
		max-width: calc(100% - rem(580));
	}
	&__city-block {
		display: flex;
		align-items: center;
		color: #fff;
		flex-direction: column;
		margin-bottom: rem(20);
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
			flex-direction: row;

		}
	}
	&__text-wrap {
		text-align: center;
		@include media-breakpoint-up(md) {
			text-align: left;
		}
	}
	&__icon-wrap {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: rgba($color: #fff, $alpha: .1);
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: rem(10);
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
			margin-right: rem(15);
		}
		.icon {
			color: #fff;
			font-size: rem(20);
		}
	}
	&__city {
		letter-spacing: 0.05em;
		text-transform: uppercase;
		font-weight: 600;
		font-size: rem(14);
	}
	&__text {
		color: #ACAAC2;
		font-size: rem(12);
		line-height: 1.67em;
	}
	&__main-site {
		text-transform: uppercase;
		color: #fff;
		font-size: rem(14);
		letter-spacing: 0.05em;
		font-weight: 600;
		.icon {
			font-size: rem(10);
			color: $primary;
		}
	}
	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}
