
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					.modal-win__title.form-data.h3.ttu откликнуться на вакансию
				+input("фио*:")(required)
				+input("Введите",'tel','телефон*:')(required)
				+input("Введите",'text','email*:')(required)
				+upload-field('резюме:')
				+policy()
				+e.BUTTON.btn.btn.btn-primary(type="submit") откликнуться
	// #modal-call
	div(id="modal-thanks"  style="display: none" )
		+b.modal-win
			.text-center
				.modal-win__title.form-data.h3.ttu спасибо за обращение
			p.text-center Мы свяжемся с вами в ближайшее время, чтобы обсудить все детали
			+e.BUTTON.btn.btn.btn-primary(type="submit") откликнуться
	// #modal-thanks
	div(id="modal-request1"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					.modal-win__title.form-data.h3.ttu Оставить заявку
				+input("фио*:")(required)
				+input("Введите",'tel','телефон*:')(required)
				+input("Введите",'text','email*:')(required)
				+policy()
				+e.BUTTON.btn.btn.btn-primary(type="submit") откликнуться
	// #modal-request1
	div(id="modal-request2"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					.modal-win__title.form-data.h3.ttu Оставить заявку
				+input("фио*:")(required)
				+input("Введите",'tel','телефон*:')(required)
				+input("Введите",'text','email*:')(required)
				.form-wrap__input-wrap.form-group
					label
						textarea.form-wrap__input.form-control(name='textarea' placeholder='Введите')
						span.form-wrap__input-title комментарий:
							//- .textarea-line
				+policy()
				+e.BUTTON.btn.btn.btn-primary(type="submit") откликнуться
	// #modal-request2
	div(id="modal-invite"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					.modal-win__title.form-data.h3.ttu рекомендовать друга
				+input("фио приглашающего*:")(required)
				+input("Введите",'tel','телефон приглашающего*:')(required)
				+input("Введите",'text','фио друга*:')(required)
				+input("Введите",'tel','телефон друга*:')(required)
				+input("Введите",'text','email друга*:')(required)
				+upload-field('резюме друга:')
				+policy()
				+e.BUTTON.btn.btn.btn-primary(type="submit") откликнуться
	// #modal-invite
	
	// end modals