mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sContact
				
			.row
			//- +e.policy-block
			//- 	+e.title © Datexsoft 2022. Все права защищены.
			//- 	+e.link(href="#") Политика конфиденциальности
	// end sContact