mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		+e.container.container
			img(src="img/sContent-bg.png", alt="")
			+b.section-title.text-center
				h2 свяжитесь с нами
				p Помогаем нашим клиентам добиваться успехов в бизнесе с помощью IT-технологий
				+e.btn(href="#").btn.btn-primary оставить заявку
	// end sContact