mixin sInvite(data)
	// start sInvite
	+b.sInvite.section#sInvite&attributes(attributes)
		.container
			+e.wrap
				p Если ты&nbsp;знаешь тех, кто идеально подойдёт на&nbsp;вакансию в&nbsp;нашу команду, то&nbsp;заполни небольшую анкету. За&nbsp;каждую успешную рекомендацию тебя будет ждать бонус. Размер бонуса будет зависеть от&nbsp;вакансии, на&nbsp;которую ты&nbsp;порекомендуешь нам друга<br /><br />Мы&nbsp;с&nbsp;нетерпением ждём сообщений от&nbsp;вас!<br /><br />А&nbsp;теперь ответим на&nbsp;вопросы:
				+e.item
					+e.pic
						img(src="img/svg/invite-1.svg", alt="")
					+e.text
						h4 как порекомендовать друга?
						ol
							li Открой подходящую вакансию в общем списке. Вакансии с бонусом выделены с помощью значка <img src="img/svg/bonus.svg" alt="">
							li Обсуди с другом, интересно ли ему это предложение. Важно, чтобы человек хотел работать у нас.
							li Если он согласен, то нажми «Рекомендовать» на странице вакансии. Отправь резюме друга и не забудь также указать свои контакты. 
							li Предупреди друга, что мы можем связаться с ним по поводу вакансии.
				+e.item
					+e.pic
						img(src="img/svg/invite-2.svg", alt="")
					+e.text
						h4 я отправил рекомендацию, что дальше?
						p Если резюме будет соответствовать требованиям вакансии, мы&nbsp;пригласим кандидата на&nbsp;собеседование. Ты&nbsp;получишь бонус после того, как кандидат пройдет у&nbsp;нас испытательный срок (обычно он&nbsp;составляет 3&nbsp;месяца, но&nbsp;может завершиться раньше).
				+e.item
					+e.pic
						img(src="img/svg/invite-3.svg", alt="")
					+e.text
						h4 где найти актуальные вакансии?
						p Воспользуйся поиском на&nbsp;странице вакансий. Вакансии с&nbsp;бонусом отмечены специальной иконкой <img src="img/svg/bonus.svg"  alt="">
				+e.item
					+e.pic
						img(src="img/svg/invite-4.svg", alt="")
					+e.text
						h4 как узнать о новых предложениях?
						p Мы&nbsp;размещаем вакансии здесь, в&nbsp;нашем блоге и&nbsp;на&nbsp;сайте <a href="#">hh.ru</a>.
				+e.item
					+e.pic
						img(src="img/svg/invite-5.svg", alt="")
					+e.text
						h4 когда и сколько можно получить?
						p Сумма вознаграждения за&nbsp;успешную рекомендацию указана в&nbsp;вакансии. Бонус ты&nbsp;сможешь получить после прохождения другом испытательного срока. Обычно он&nbsp;составляет 3&nbsp;месяца, но&nbsp;может завершиться раньше). За&nbsp;вакансии без денежного бонуса мы&nbsp;подарим тебе фирменный мерч.
	// end sInvite