mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.container.container
			+e.row.row
				+e.col.col-lg-6
					+e.content
						h1 Карьера в&nbsp;компании Датекс
						p Помогаем нашим клиентам добиваться успехов в&nbsp;бизнесе с&nbsp;помощью IT-технологий
						+e.btn(href="#").btn.btn-primary смотреть вакансии
				+e.col-img.col-lg-6
					+e.img-wrap
						img(src="img/header-bg-2.png", alt='')
	// end headerBlock