mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			.row
				.col-lg-5
					h1 Карьера в&nbsp;компании Датекс
					p Помогаем нашим клиентам добиваться успехов в&nbsp;бизнесе с&nbsp;помощью IT-технологий
					+e.btn(href="#").btn.btn-primary смотреть вакансии
	// end headerBlock