mixin sIntership(data)
	// start sIntership
	+b.SECTION.sIntership.section#sIntership&attributes(attributes)
		.container
			+e.wrap
				mixin item(i, title, text)
					+e.item
						+e.icon-wrap
							+img(`img/svg/sIntership-icon-${i}.svg`)
						+e.text
							h4!= title
								+img('img/svg/lines.svg')
							p!= text
				+item(1, 'можно ли совмещать стажировку с учебой?', 'Конечно, все с&nbsp;пониманием относятся к&nbsp;необходимости совмещать учебу и&nbsp;работу. Что касается рабочих часов&nbsp;&mdash; обычно мы&nbsp;работаем с&nbsp;09:00 до&nbsp;18:00, но&nbsp;и&nbsp;это время можно двигать.')
				+item(2, 'стажировка оплачивается?', 'Да, оплачивается: зарплата прямо пропорциональна выбранной часовой ставке. Зарплату озвучиваем на&nbsp;собеседовании.')
				+item(3, 'что меня ждет после окончания стажировки?', 'Решение по&nbsp;каждому стажеру принимается в&nbsp;зависимости от&nbsp;нескольких факторов: обратная связь по&nbsp;стажеру от&nbsp;команды, готовность стажера работать 40&nbsp;часов в&nbsp;неделю, наличие подходящих вакансий. Наша цель&nbsp;&mdash; чтобы исход устраивал и&nbsp;стажера, и&nbsp;команду, поэтому вариантов множества: от&nbsp;продления стажировки до&nbsp;приема в&nbsp;штат еще до&nbsp;ее&nbsp;официального окончания.')
				+item(4, 'что делать, если я не прошел стажировку?', 'Прежде всего&nbsp;&mdash; не&nbsp;отчаиваться: поиск любой работы начинается с&nbsp;получения опыта. Вспомнить, где вы&nbsp;чувствовали себя неуверенно, и&nbsp;поработать над этими зонами&nbsp;&mdash; это могут быть технические знания, а&nbsp;может умение рассказать о&nbsp;себе. Понять, в&nbsp;каком направлении хочется развиваться дальше. Готовиться к&nbsp;следующему набору!')
	// end sIntership