mixin sAbout(data)
	// start sAbout
	+b.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.caption Компания Datex, основана в&nbsp;2019&nbsp;году, является сертифицированным партнером фирмы &quot;1С&quot;&copy;. Основным направлением деятельности является продажа и&nbsp;внедрение программных продуктов на&nbsp;базе 1С:Предприятие.<br /><br />Для достижения наших целей нам важно быть полезными для клиентов. Выполнять свою работу так, чтобы бизнес наших клиентов развивался. Быть командой, где ценен вклад каждого сотрудника. Только благодаря этому мы&nbsp;можем развиваться в&nbsp;новых направлениях и&nbsp;предоставлять клиентам качественный и&nbsp;комплексный продукт.<br /><br />Работа в&nbsp;Datex в&nbsp;команде крутых специалистов&nbsp;&mdash; то, что ты&nbsp;ищешь!<br /><br />Что мы&nbsp;предоставляем? У&nbsp;нас удобный офис в&nbsp;городе Самара. Все рабочие места оборудованы всем необходимым для комфортной работы без перебоев. У&nbsp;нас настроен к&nbsp;быстрый интернет с&nbsp;резервной линией. Есть помещение для переговоров, которое оборудовано для видео-конференций. А&nbsp;в&nbsp;комнате приёма пищи также можно задержаться вечером и&nbsp;посмотреть фильм с&nbsp;друзьями. Кроме офиса, у&nbsp;нас всё организовано для удаленной работы сотрудников. Мы&nbsp;предоставляем полный соц.пакет и&nbsp;официальную белую зарплату.
			+e.slider--js.swiper
				.swiper-wrapper
					mixin slide(pic)
						+e.slide.swiper-slide
							//- +pic(`about-slide-${pic}.jpg`,``,0)
							+e.picture(data-fancybox data-src=`img/@2x/about-slide-${pic}.jpg`)
								img(src=`img/@2x/about-slide-${pic}.jpg`, alt="")
					+slide(1)
					+slide(2)
					+slide(3)
					+slide(1)
					+slide(3)
					+slide(2)
					+slide(1)
				+arrow
				.swiper-pagination
	// end sAbout

mixin sAbout2(data)
	// start sAbout
	+b.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.caption Для каждого нового сотрудника выделяется наставник, который познакомит тебя с&nbsp;твоей новой должностью. В&nbsp;ходе работы у&nbsp;тебя так или иначе будут возникать вопросы по&nbsp;рабочему процессу и&nbsp;наставник будет рад помочь тебе. Также наставник это тот человек, который познакомит тебя с&nbsp;коллегами, покажет где в&nbsp;офисе стоит кулер и&nbsp;где&nbsp;же недалеко от&nbsp;офиса находится та&nbsp;самая вкусная шаурма. Важно заметить, что в&nbsp;нашей команде тебе будут рады помочь все сотрудники, стоит только попросить.
	// end sAbout