mixin sAboutWork(data)
	// start sAboutWork
	+b.SECTION.sAboutWork.section#sAboutWork&attributes(attributes)
		+e.container.container
			img(src="img/sAboutWork-bg-1.jpg", alt="").pencil
			img(src="img/sAboutWork-bg-2.jpg", alt="").laptop
			+b.section-title.text-center
				h2 узнайте о работе в датекс
			+e.slider--js.swiper
				.swiper-wrapper
					+e.slide.swiper-slide
						+e.link(href="#")
							+e.img-wrap
								+img('img/sAboutWork-img-1.jpg')
							.h3 вакансии
					+e.slide.swiper-slide
						+e.link(href="#")
							+e.img-wrap
								+img('img/sAboutWork-img-2.jpg')
							.h3 Направления
					+e.slide.swiper-slide
						+e.link(href="#")
							+e.img-wrap
								+img('img/sAboutWork-img-1.jpg')
							.h3 Жизнь в компании
					+e.slide.swiper-slide
						+e.link(href="#")
							+e.img-wrap
								+img('img/sAboutWork-img-3.jpg')
							.h3 Стажировка для студентов
			+e.wrap 
				.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
					+icon('chevron-left')
				+e.circle
				.swiper-button-hand.swiper-button-hand-next.swiper-button-next
					+icon('chevron-right')
	// end sAboutWork