extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sRequest/_sRequest.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sDirections/_sDirections.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'directions-page'
	- let  bg= null

block title
	- let  title= 'Направления'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+top-nav(2)
	.container
		+b.section-title--directions-page
			h1 Ждем тебя в команде
			+e.subtitle Выберите интересующее вас направление и изучите вакансии
	+sDirections
	+sRequest(`не нашли то, что искали?`,`Свяжитесь с нами и мы предложим вакансию для вас`,'оставить заявку','#modal-request2')
	+footer()
      



