extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sRequest/_sRequest.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sVacancies/_sVacancies.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Информационные технологии'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+top-nav(2)
	+page-head2(`информационные технологии`,`16 вакансий`,`direction-item-bg-1.png`,`Вакансии`)
	+sVacancies
	+sRequest(`не нашли то, что искали?`,`Свяжитесь с нами и мы предложим вакансию для вас`,'оставить заявку')
	+footer()
      



