extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sRequest/_sRequest.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'Программа наставничества'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+top-nav(3)
	+page-head(`программа наставничества`,`Когда ты&nbsp;приходишь на&nbsp;новое место работы, тебе многое непонятно, не&nbsp;только в&nbsp;плане своей должности, но&nbsp;и&nbsp;в&nbsp;плане жизни в&nbsp;компании. Наставничество&nbsp;&mdash; это способ быстро адаптироваться к&nbsp;требованиям компании.`,`direction-item-bg-3-lg.png`)
	+sAbout2
	+sRequest(`найди свое место в датекс`,`Выбери подходящую для себя вакансию и отправь свое резюме`,'смотреть вакансии')
	+footer()
      



