extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sRequest/_sRequest.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sTeam/_sTeam.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'Команда'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+top-nav(6)
	+page-head(`приходи<br />командой`,`Расти профессионально и&nbsp;решать интересные задачи&nbsp;&mdash; удобнее вместе, мы&nbsp;знаем об&nbsp;этом не&nbsp;понаслышке.`,`08-team-bg.png`)
	+sTeam
	+sRequest(`заинтересовало?`,`Оставьте свои контакты. Укажите сколько человек в&nbsp;вашей команде и&nbsp;какие направления вам интересны. Мы&nbsp;оперативно свяжемся с&nbsp;вами и&nbsp;расскажем о&nbsp;вариантах сотрудничества.`,'оставить заявку')
	+footer()
      



