extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sRequest/_sRequest.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sInvite/_sInvite.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Рекомендуй друга'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+top-nav(6)
	+page-head(`рекомендуй<br />друга`,`В&nbsp;нашей команде уже работают профессионалы из&nbsp;разных сфер, и&nbsp;мы&nbsp;всегда рады новым талантам, готовым развиваться вместе с&nbsp;нами. Важно, чтобы человек разделял наши ценности.`,`09-invite-bg.png`)
	+sInvite
	+sRequest(`заинтересовало?`,`Перейдите в раздел вакансий и выберите вакансию на которую вы можете пригласить друга.`,'смотреть вакансии')
	+footer()
      



