mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			+e.row.row
				.col-lg-6
					+e.head
						+img('img/svg/bonus.svg')
						p Бонус за рекомендацию: 50 000 ₽
						a(href="#").btn.btn-success рекомендовать друга
					+e.body
						p Мы&nbsp;приглашаем в&nbsp;свою профессиональную команду 
							span начинающего программиста 1C/Junior.
						p Если вы&nbsp;уже владете базовыми знаниями, имеете небольшой опыт в&nbsp;программировании, но&nbsp;не&nbsp;хватает рядом грамотного наставника, который мог&nbsp;бы поспособствовать вашему профессиональному развитию, тогда вам именно к&nbsp;нам.
						p С&nbsp;нами вы&nbsp;не&nbsp;останетесь узким специалистом.
						p Вам будет обеспечено постоянное, непрерывное обучение, повышение своих профессиональных компетенций, теория и&nbsp;практика, работа с&nbsp;разными конфигурациями и&nbsp;разного уровня задачами.
						p
							strong Обязанности:
						ul
							li Работа по&nbsp;задачам от&nbsp;клиентов и&nbsp;по&nbsp;техническому заданию;
							li Разработка технических заданий;
							li Доработка программ&nbsp;1С, как типовых конфгураций, так и&nbsp;нетиповых;
							li Выполнение обновлений, доработок системы, создание печатных форм, отчетов.
						p 
							strong Требования:
						ul
							li Общие понятия о&nbsp;БСП и&nbsp;конвертации данных, о&nbsp;СКД и&nbsp;запросах, расширения;
							li Знание синтаксиса 1С;
							li Умеие разбираться и&nbsp;дописывать типовой код&nbsp;1С;
							li Опыт работы в&nbsp;одной типовой конфигурации;
							li Желание учиться и&nbsp;развиваться.
						p 
							strong Условия:
						ul
							li Оформление в&nbsp;соответствии с&nbsp;ТК&nbsp;РФ;
							li &laquo;Белая&raquo; заработная плата;
							li График работы 5/2, с&nbsp;9.00 до&nbsp;18.00;
							li Работа под управлением наставника и&nbsp;в&nbsp;команде профессионалов;
							li Обучение и&nbsp;повышение квалификации за&nbsp;счет работодателя;
							li Профессиональный, карьерный&nbsp;и, конечно, финансовый рост.
						p 
							strong Обязанности:
						ul
							li Работа по&nbsp;задачам от&nbsp;клиентов и&nbsp;по&nbsp;техническому заданию;
							li Разработка технических заданий;
							li Доработка программ&nbsp;1С, как типовых конфгураций, так и&nbsp;нетиповых;
							li Выполнение обновлений, доработок системы, создание печатных форм, отчетов.
						p 
							strong Работай в удовольствие!
					+e.date 21 мая 2021
				.col-lg-5.ms-lg-auto
					+form-wrap()
						h3 откликнуться на вакансию
						+input('фио*:', 'text')
						+input('телефон*:', 'tel')
						+input('email*:', 'email')
						+upload-field('резюме:')
						+policy
						+e.btn.BUTTON(type="submit").btn.btn-primary откликнуться
	// end sContent