.menu {
	@include media-breakpoint-up(xl) {
		text-align: center;
		@include roww(20px);
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: row;
	}
	display: flex;
	flex-direction: column;
	@include media-breakpoint-down(xl) {
		align-items: center;
		padding-bottom: 20px;
	}
	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	li {
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
	}
	a {
		font-family: "Proxima Nova";
		font-weight: 600;
		position: relative;
		transition-duration: 0.4s;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		font-size: rem(14);
		@include media-breakpoint-down(lg){
			font-size: 14px;
		}
		color: $secondary;
		--a-color: transparent;
		display: block;
		@include media-breakpoint-up(xxl) {
			font-size: rem(14);
			margin-bottom: 0;
		}
		@include media-breakpoint-up(xl) {
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 1.04vw;
			padding-right: 1.04vw;
			// margin-bottom: rem(8);
			&::after {
				content: "";
				position: absolute;
				height: 0;
				width: rem(30);
				max-width: 100%;
				transition-duration: 0.4s;
				border-top: 2px solid var(--a-color);
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		@include media-breakpoint-only(xl) {
			font-size: rem(12);
		}
		&:hover,
		&.current-menu-item {
			color: $body-color;
			--a-color: #{$primary};
		}
	}
}

.toggle-menu-mobile {
	--h: #{em(2)};
	--color: #{$body-color};
	--position: calc(var(--h) * 2);
	&.on span {
		--color: transparent;
	}

	&.on {
		--position: 0;
		--rotate: 45deg;
	}
	display: block;
	height: rem(24);
	position: relative;
	font-size: rem(24);
	width: 1em;
	cursor: pointer;
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}
	span {
		@include a-cent(y);
		display: block;
	}

	span:before {
		top: var(--position);
		transform: rotate3d(0, 0, 1, var(--rotate, 0));
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0, 0, 1, calc(-1 * var(--rotate, 0)));
	}
	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: 2px;
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden;
		transform-origin: 50% 50%;
	}
}
.toggle-menu-mobile.on {
	margin-left: -15%;
	top: 0;
	z-index: 9999;
	span:after,
	span:before {
		--color: #{$body-color};
	}
}
@include media-breakpoint-down(lg) {
	.menu-mobile {
		top: rem(61);
	}
}
@include media-breakpoint-down(xl) {
	.menu-mobile {
		background-color: $white;
		position: fixed !important;
		z-index: 999;
		max-width: 100%;
		height: calc(var(--vh, 1vh) * 100);
		width: 100%;
		top: rem(82);
		// left: 0;
		right: 0;
		&:not(.active) {
			transform: translate3d(0, -120%, 0);
			// transform: translate3d(0, -120%, 0);
			--opacity: 0;
			.toggle-menu-mobile {
				opacity: 0;
			}
		}
		@include mt(0.6s);
		will-change: transform;

		.toggle-menu-mobile {
			margin-left: -15%;
			position: absolute;
			left: 0;
			right: auto;
			color: #fff;
			top: 10px;
			z-index: 9999;
			span:after,
			span:before {
				--color: #ffffff;
			}
		}
		&__inner {
			padding: rem(20) 0;
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: 100%;
			@include mt(0.3s);
			transition-delay: 0.4s;
			opacity: var(--opacity);
			display: flex;
			flex-direction: column;
		}

		&.active {
			.toggle-menu-mobile {
				opacity: 1;
			}
		}

		ul {
			position: relative;
		}

		li {
			display: block;
			margin: 0;
			border-top: 1px solid rgba(255, 255, 255, 0.13);

			a {
				// font-size: 16px;

				padding: 10px;
				display: block;
			}
		}
	}
}
