.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
	}
	.icon {
		font-size: rem(30);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.page-head {
	padding-top: rem(30);
	@include media-breakpoint-up(lg) {
		padding-top: 0;
	}
	&__wrap {
		@include media-breakpoint-up(lg) {
			flex-direction: row;
			padding-top: 0;
			gap: 20px;
			justify-content: space-between;
		}
		align-items: center;
		flex-direction: column;
		display: flex;
	}
	&__title-block {
		@include media-breakpoint-up(lg) {
			width: 50%;
		}
	}
	&__sub-title {
		line-height: 150%;
		@include media-breakpoint-up(lg) {
			margin-top: rem(30);
		}
		margin-top: rem(20);
	}
	&__bg {
		@include media-breakpoint-up(lg) {
			width: 50%;
		}
		width: 100%;
		img {
			width: 100%;
			max-width: 100%;
		}
	}
	&__back {
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(30);
			text-align: left;
		}
		display: inline-flex;
		align-items: center;
		margin-bottom: rem(20);
		text-align: center;
		.icon {
			font-size: rem(20);
			margin-right: rem(5);
		}
		span {
			line-height: calc(20 / 16);
			color: $body-color !important;
		}
	}
}
