mixin sDirections(data)
	// start sDirections
	+b.SECTION.sDirections.section#sDirections&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sDirections
				
			.row
	// end sDirections