mixin sTeam(data)
	// start sTeam
	+b.sTeam.section#sTeam&attributes(attributes)
		.container
			+e.wrap
				p Если у&nbsp;вас уже есть сформированная команда, с&nbsp;которой любой вызов превращается в&nbsp;приключение, то&nbsp;нам есть, что вам предложить.<br /><br />Теперь частью нашей компании могут стать уже сформированные команды. Если вы&nbsp;ищете новые задачи, готовы работать над амбициозными проектами и&nbsp;при этом не&nbsp;хотите расставаться&nbsp;&mdash; этот шанс для вас!<br /><br />Мы&nbsp;помогаем нашим клиентам сделать их&nbsp;бизнес сильнее. И&nbsp;для того, чтобы делать это эффективнее, мы&nbsp;хотим объединить неравнодушных и&nbsp;целеустремлённых профессионалов.
				h4 кого мы ждем?
				p В&nbsp;первую очередь&nbsp;&mdash; команды, которые любят и&nbsp;умеют решать задачи клиентов<br /><br />В&nbsp;составе команд могут быть: программисты, технические специалисты, проектные менеджеры, аналитики и&nbsp;не&nbsp;только. Мы&nbsp;знаем, как важны все звенья в&nbsp;общей цепочке, поэтому ждём всю вашу команду. Мы&nbsp;готовы предложить условия, которые подойдут именно вам.<br /><br />Мы&nbsp;рассматриваем разные варианты взаимодействия: рады видеть новых людей в&nbsp;команде и&nbsp;готовы реализовывать отдельные проекты&nbsp;&mdash; откликайтесь, договоримся!
				h4 что мы можем предложить?
				p Мы&nbsp;обеспечим комфортную рабочую среду для вашей команды. Оборудованные рабочие места. Отдельный кабинет или места рядом с&nbsp;остальными коллегами. Бесперебойный доступ в&nbsp;интернет. Помимо кабинетов с&nbsp;рабочими местами, в&nbsp;нашем офисе есть комнаты для переговоров и&nbsp;приёма пищи, оборудование для участия в&nbsp;видео-конференциях. Защищеный вход в&nbsp;помещения для вашей безопасности.
	// end sTeam