mixin sRequest(title,caption,btn,link='#')
	// start sRequest
	+b.SECTION.sRequest.section#sRequest&attributes(attributes)
		.container
			+b.section-title.text-center
				h2!=title
			+e.caption!=caption
			+e.btn-wrap
				+e.btn.btn.btn-primary(href=link  data-src=id data-fancybox="modal")!=btn
	// end sRequest