mixin sRequest(title,caption,btn,link='#')
	// start sRequest
	+b.SECTION.sRequest.section#sRequest&attributes(attributes)
		.container
			+b.section-title.text-center
				h2!=title
			+e.caption!=caption
			+e.btn-wrap
				+e.btn.btn.btn-primary(href=link  data-src=link data-fancybox="modal")!=btn
	// end sRequest

mixin sRequest2(title,caption,btn)
	// start sRequest
	+b.SECTION.sRequest.section#sRequest&attributes(attributes)
		.container
			+b.section-title.text-center
				h2!=title
			+e.caption!=caption
			+e.btn-wrap
				+e.btn.btn.btn-primary(href="#")!=btn
	// end sRequest