
mixin mnu(active)
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each link,index in nav
			if (active == index + 1)
				li.menu-item(itemprop="item" ): a.current-menu-item(href= link.url itemprop="url")= link.name
			else
				li.menu-item(itemprop="item" ): a(href= link.url itemprop="url")= link.name
			if link.subnav
				li.menu-item.menu-item-has-children
					a(href="#" itemprop="url") О нас
					ul.sub-menu
						each sublink in link.subnav
							li.menu-item(itemprop="item" ): a(href= sublink.url itemprop="url")= sublink.name
//- menu